.App {
  text-align: center;
}

.paginationUl, .paginationUl li {
  list-style: none;
  display: inline-block;
  padding-left: 0px;
}
.paginationUl li:hover a {
  color: #fdfdfd;
  background-color: #1d1f20;
  border: solid 1px #1d1f20;
}
.paginationUl li.active a {
  color: #fdfdfd;
  background-color: #1d1f20;
  border: solid 1px #1d1f20;
}
.paginationUl li:first-child {
  float: left;
}
.paginationUl li:last-child {
  float: right;
}
.paginationUl li  a {
  border: solid 1px #d7d7d7;
  border-radius: 0.2rem;
  color: #7d7d7d;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0.9rem;
}